/* src/app.css */
@import "tailwindcss";

@theme {
  /* Esto sobreescribe la fuente sans por defecto de Tailwind */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    /* Forzado manual para elementos que no hereden de Tailwind */
    font-family: var(--font-sans);
    font-feature-settings: "cv11", "ss01", "ss03", "cv05"; /* Optimizaciones para Inter */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    /* Cambiado a negro puro para que pegue con tu diseño minimalista */
    background-color: #000000; 
    color: #ffffff;
    margin: 0;
}

/* Aplicar la fuente a todo */
* {
    font-family: inherit;
}

/* --- SCROLLBAR MINIMALISTA --- */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}