/* src/app.css */
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    font-family: var(--font-sans);
    font-feature-settings: "cv11", "ss01", "ss03", "cv05";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #000000; 
    color: #ffffff;
    margin: 0;
    /* Ocultar scrollbar en Firefox */
    scrollbar-width: none;
    /* Ocultar scrollbar en IE y Edge antiguo */
    -ms-overflow-style: none;
}

/* Aplicar la fuente a todo */
* {
    font-family: inherit;
}

/* --- OCULTAR SCROLLBAR (Chrome, Safari, Edge Moderno) --- */
/* Lo aplicamos de forma global (*) para que desaparezca de sidebars y contenedores internos */
*::-webkit-scrollbar {
    display: none;
}

/* Opcional: Si quieres que el scroll sea más fluido en móviles tras ocultar la barra */
* {
    -webkit-overflow-scrolling: touch;
}